@model List<EF_CodeFirst26.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Products</h2>
<a href="/products/create">Create new product</a>
<form class="d-flex flex-row align-items-center flex-wrap" action="/products/index">
    <label for="search" class="mx-2 my-1"> Search</label>
    <input type="search"
           class="form-control w-auto"
           id="search"
           name="search"
           value="@ViewBag.Search"
           placeholder="Search" />
    <button type="submit" class="btn btn-primary mx-2">GO</button>
</form>

@{ 
    string iconClass = "";
    if (ViewBag.IconClass == "fa-sort-desc")
    {
        iconClass = "fa-sort-asc";
    }
    else
    {
        iconClass = "fa-sort-desc";
    }
}



<table class="table">
    <tr>
        <th>
            <a href="/products/index?SortColumn=ProductID&IconClass=@iconClass">Product ID</a>
            @if (ViewBag.SortColumn == "ProductID")
            {
                <i class="fa @ViewBag.IconClass"></i>
            }
        </th>
        <th>
            <a href="/products/index?SortColumn=ProductName&IconClass=@iconClass">Product ID</a>
            @if (ViewBag.SortColumn == "ProductName")
            {
                <i class="fa @ViewBag.IconClass"></i>
            }
        </th>
        <th>
            <a href="/products/index?SortColumn=ProductPrice&IconClass=@iconClass">Product ID</a>
            @if (ViewBag.SortColumn == "Price")
            {
                <i class="fa @ViewBag.IconClass"></i>
            }
        </th>
        <th>Date of purchase</th>
        <th>Availability</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Active</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td><a href="/products/detail/@item.ProductID">@item.ProductName</a></td>
            <td>@item.Price.Value.ToString("C")</td>
            <td>@item.DateOfPurchase.Value.ToString("d/M/yyyy")</td>
            <td>@item.AvailabilityStatus</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.Brand.BrandName</td>
            <td>@item.Active</td>
            <td>
                <a href="/products/edit/@item.ProductID">Edit</a>
                <a href="/products/delete/@item.ProductID">Delete</a>
            </td>
        </tr>
    }
    <tr>
        <td colspan="9">
            @{ 
                int PrevPage = ViewBag.Page - 1;
                if (PrevPage <= 0)
                {
                    PrevPage = 1;
                }
                int NextPage = ViewBag.Page + 1;
                if (NextPage > ViewBag.NoOfPages)
                {
                    NextPage = ViewBag.NoOfPages;
                }
            }

            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@PrevPage">
                        Prev
                    </a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">
                                @(i+1)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(i+1)">
                                @(i+1)
                            </a>
                        </li>
                    }

                }
                <li class="page-item active">
                    <a class="page-link" href="/products/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@NextPage">
                        Next
                    </a>
                </li>
            </ul>
        </td>
    </tr>
</table>
